title = "Blog"
url = "/blog"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "blog/category"
==
<div class="row" style="max-width:100%">
    <div class="col-md-8">
        {% set posts = blogPosts.posts %}

<ul class="post-list" style="padding: 75px;">
    {% for post in posts %}
            <h3><a href="{{ post.url }}" style="color: #5d8989;text-decoration: none;font-family: 'Philosopher', sans-serif;font-size: 40px;">{{ post.title }}</a></h3>

            <p class="info" style="color: #5d8989;font-family: 'Philosopher', sans-serif">
                {% if post.categories.count %}
                    {% set categoryLinks = post.categories | map(c => "<a href=\"#{c.url}\">#{c.name} </a>") | join(', ') %}

                    {{ 'rainlab.blog::lang.post.posted_byline' | trans({
                        date: post.published_at | date('rainlab.blog::lang.post.date_format' | trans),
                        categories: categoryLinks
                    }) }}
                {% else %}
                    {{ 'rainlab.blog::lang.post.posted_byline_no_categories' | trans({
                        date: post.published_at | date('rainlab.blog::lang.post.date_format' | trans)
                    }) }}
                {% endif %}
            </p>

            <p class="excerpt">{{ post.summary | raw }}</p>
        
    {% else %}
        <li class="no-data">{{ blogPosts.noPostsMessage }}</li>
    {% endfor %}
</ul>

{% if posts.lastPage > 1 %}
    <ul class="pagination">
        {% if posts.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li><a href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}

    </div>
    <div class="col-md-4">
        {% if blogCategories.categories|length > 0 %}
    <ul class="category-list" style="font-family: 'Philosopher', sans-serif;margin-top: 100px;color: #5d8989">
        {% partial blogCategories ~ "::items"
            categories = blogCategories.categories
            currentCategorySlug = blogCategories.currentCategorySlug
        %}
    </ul>
{% else %}
    <p>No categories were found.</p>
{% endif %}

    </div>
</div>